<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"   xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Admin panel</title>
</head>
<body style="background-color: #f7f7f7">


<header style="height: 1%;">
    <div style="background-color:#343a40;color: white;width: 95%;float: left;height: 50px;padding: 12px"
         th:object="${logged_user}">
        <b th:utext="${logged_user.username} "></b>
        <a> with roles:</a>
        <a th:utext="${logged_user.getRolesNames()}"></a>
    </div>
    <div style="background-color:#343a40;color: grey;width: 5%;float: right;height: 50px;padding-top: 12px"><a
            style="color: grey"
            th:href="@{/logout}">Logout</a></div>
</header>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<div style="width: 100%">
    <div style="float:left; width: 15%;background-color: white;height: 920px">
        <nav class="nav flex-column nav-pills">
            <div sec:authorize="hasRole('ROLE_ADMIN')">  <a sec:authorize="hasRole('ROLE_ADMIN')" class="flex-sm-fill nav-link " th:href="@{/admin}">Admin</a> </div>
            <a class="flex-sm-fill nav-link active">User</a>
        </nav>

    </div>
    <div style="padding-left:50px;float:right;width: 85%; ">
        <div style="font-size: xx-large;margin-bottom: 15px"><b>User information page</b></div>
        <div style="border: 1px solid lightgrey;width: 90%;">
            <div style="border-bottom: 1px solid lightgrey;background-color: #f7f7f7">
                <b style="margin: 15px"><font size="5">About user</font></b>
            </div>
            <div style="background-color: white;width: 100%;padding: 2%;">
                <table style="padding: 15px;" class="table table-striped">
                    <thead>
                    <tr>
                        <th th:scope="col">Id</th>
                        <th th:scope="col">Username</th>
                        <th th:scope="col">Name</th>
                        <th th:scope="col">Surname</th>
                        <th th:scope="col">Roles</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:object="${logged_user}">
                        <td><a th:utext="*{id}"></a></td>
                        <td><a th:utext="*{username}"></a></td>
                        <td><a th:utext="*{name}"></a></td>
                        <td><a th:utext="*{surname}"></a></td>
                        <td><a th:utext="${logged_user?.getRolesNames()}"></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div style="clear:both"></div>

</body>
</html>